<!DOCTYPE HTML>
<!--
	Hielo by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

    <head>
        <title>TravelWithWe</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="assets/css/main.css" />
    </head>

    <body>

        <!-- Header -->
        <header id="header" class="alt">
            <div class="logo">
                <a href="/">TravelWithWe
                    <span></span>
                </a>
            </div>
            <% if(!currentUser){ %>
                <a href="#menu">Menu</a>
            <% } else{ %>
                <a href="#menu"><%= currentUser.username %></a>
            <% } %>
        </header>

        <!-- Nav -->
        <nav id="menu">
            <ul class="links">
                <% if(!currentUser){ %>
                    <li>
                        <a href="/new-story">Add New story</a>
                    </li>
                    <li>
                        <a href="/register">Register</a>
                    </li>
                    <li>
                        <a href="/login">Log in</a>
                    </li>
                <% } else{ %>
                    <li><a href="/">Signed In As <%= currentUser.username %></a></li>
                    <li>
                        <a href="/new-story">Add New story</a>
                    </li>
                    <li>
                        <a href="/logout">Log out</a>
                    </li>
                <% } %>
            </ul>
        </nav>