<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TravelWithWe</title>
</head>
<body>
    <div id="main" class="container">
        <header class="align-center">
            <h2>Add New Comment to
                <%= place.title %>
            </h2>
            <form action="/<%= place._id %>/comments" method="POST">
                <input type="text" name="comment[text]" placeholder="text" required/>
                <p> </p>
                <button>Comment</button>
            </form>
        </header>
    </div>
</body>
</html>