<% include partials/headersub %>
    <div id="main" class="container">
        <header class="align-center">
            <h2>Sign Up!</h2>
            <form action="/register" method="POST">
                <input type="text" name="username" placeholder="username" required/>
                <p> </p>
                <input type="password" name="password" placeholder="password" required/>
                <p> </p>
                <button>Sign Up</button>
            </form>
        </header>
    </div>
<% include partials/footer %>