<% include partials/headersub %>
    <div id="main" class="container">
        <h2><%=place.topic%></h2>
        <img src="<%= place.image %>" alt="">
        <hr>
        <div>
            <%= place.describe %>
        </div>
    </div>

<% include partials/footer %>